/* Media */

@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;

    }
    
    
    .mob-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #FFFFFF;
        z-index: 2;
        padding: 24px 24px 40px 16px;
    }

    .menu-open-btn {
        display: block;
        margin-left: auto;
        background: none;
        border: none;

    }
    


}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .container-footer {
        display: flex;
    }

    

    .logo {
        margin-left: 0px;
    }

    .nav-menu {
        display: flex;
        gap: 40px;
    }

    .nav-menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        text-decoration: none;
        display: flex;
        padding: 24px 0;
        position: relative;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mob-menu {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #FFFFFF;
        z-index: 2;
        padding: 24px 24px 40px 40px;
    }

    .modalll {
        min-height: 589px;
        min-width: 400px;
    }

    .nav-menu-link:hover,
    .nav-menu-link:focus,
    .nav-menu-link.current {

        color: #404BBF;
    }

    .address-list {
        display: flex;

        flex-direction: column;

        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.48px;
        align-items: baseline;
        justify-content: center;
    }

    .nav-menu-link::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0px;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms linear;
    }

    .nav-menu-link:hover:after,
    .nav-menu-link:focus:after,
    .nav-menu-link.current:after {

        transform: scaleX(1);
        transform-origin: left;
    }

    .menu-open-btn {
        display: none;
        margin-left: auto;
        background: none;
        border: none;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-pad.jpg);
    }

    .about-us {
        padding: 120px 0px 120px 0px ;
    }

    .team-h {
        margin-bottom: 8px;
    }

    .about-ul {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .about-li {
        width: 356px;
        margin-top: 0px;
    }

    .about-list-h {
        text-align: start;
    }

    

.address-list-h {
    text-emphasis: center;
}

    

    .hero-h {
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 112px;
        max-width: 496px;
        margin-bottom: 40px;
        justify-content: center;
    }

    .hero-btn {
        margin-bottom: 112px;
    }

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
}

.team-li {
    width: calc((100% - 24) / 2);
}

.team-h {
    margin-bottom: 72px;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
justify-content: center;
row-gap: 72px;
column-gap: 24px;
}

.main-container-portf {
    width: 356px;
}
.portf-li {
    width: 356px;
}

.portf-img {
    width: 356px;
    margin-top: 0;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    max-width: 560px;
}

.logo-footer {
    text-align: start;
    margin-left: 0px;
    margin-bottom: 17.5px;
}

.footer-p {
    margin-left: 0px;
    margin-bottom: 0px;
}

.footer-div {
    margin-left: 0;
    margin-right: 0;
}



.footer-soc-text {
    text-align: start;
    margin-bottom: 16px;
    margin-left: 0px;
}

.sub-info {
    
    margin-top: 0px;
}

.sub-text {
    text-align: start;
}

.sub-form {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-input {
        width: 288px;
    
}

.sub-btn {
    margin-top: 0px;
    margin-left: 0px;
}

}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    

    .hero-btn {
        margin-right: auto;
        margin-left: auto;
    }

    .mob-menu {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #FFFFFF;
        z-index: 2;
        padding: 24px 24px 40px 40px;
    }

    .menu-open-btn {
        display: none;
        margin-left: auto;
        background: none;
        border: none;
    }

    .modalll {
        min-height: 589px;
        min-width: 400px;
        top: 39%;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-right: 0px;
        margin-left: 150px;
    }

    .address-link {
        font-size: 16px;

        line-height: 24px;
        letter-spacing: 0.32px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 60px;
    }

    .hero-h {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 188px;
        margin-bottom: 48px;
        display: flex;
        width: 496px;
        text-align: center;
    }

    .hero {
        flex-basis: 600px;
    }

    .hero-btn {
        margin-bottom: 188px;
    }

    .about-us {
        padding: 120px 0px 120px 0px ;
    }

    .about-ul {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 60px;

    }

    .about-li {
        width: 264px;
    }
    
    .about-ul-svg {
        display: flex;
        margin-top: 60px;
    }

    .about-svg-main {
        display: flex;
    }

    .about-li {
        width: calc((100% - 72) / 4);
        margin-top: 0px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
        }

        .portf-img {
            width: 356px;
            margin-top: 0;
        }

        

        .container-portf {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .about-li {
        width: calc((100% - 48px) / 3);
        margin-top: 0px;
    }

        /* .main-container-portf {
            width: 356px;
        } */

        .portf-li {
            width: calc((100% - 48px) / 3);
        }
    
    .about-list-h {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        margin-top: 6px;
        font-weight: 500;
    }
    
    .text {
        font-size: 15.5px;
        font-weight: 400;
    }

    .team {
        
        padding: 120px 0px;
    }

    .team-h {
        
    }

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
        margin: 0px 100px;
    }

    .team-li {
        width: calc((100% - 72) / 4);
    }

    .team-h {
    margin-bottom: 10px;
    }

    /* .container-footer {
        display: flex;
        flex-wrap: nowrap;
    }

    .logo-footer {
        margin-left: -100px;
    }

    .footer-p {
        width: 264px;
        font-size: 15px;
        margin-left: -100px;
        margin-bottom: 0px;
    }

    .footer-list {
        margin-right: 70px;
    }

    .soc-footer-container {
        margin-left: 120px;
    }

    .footer-input {
        width: 264px;
    }

    .sub-info {
    min-width: 500px;
    }

    .sub-text {
        margin-left: -20px;
    }

    .sub-btn {
        margin-right: 70px;
    } */

    .container-footer {
        display: flex;
        flex-wrap: nowrap;
        min-width: 1158px;
    }

    .logo-footer {
        
    }

    .footer-p {
        min-width: 264px;
        margin-bottom: 16px;
        
        margin-right: 96px;
    }

    .footer-soc-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--footer-p-color);
        margin-bottom: 16px;
    }

    .footer-soc-text {
        margin-bottom: 17.5px;
    }

    .footer-list {
        display: flex;
        gap: 16px;
        margin-right: 0px;
    }

    .footer-li {
        width: 40px;
        height: 40px;
    }

    .footer-a {
        width: 100%;
        height: 100%;
        background-color: var(--logo-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .sub-info {
        margin-left: 120px;
        margin-right: 156px;
    }

    .sub-text {
        margin: auto;
        margin-bottom: 17.5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-left: -80px;
    }

    .sub-form {
        display: flex;
        gap: 24px;
    }

    .sub-label {
        gap: 24px;
    
    }

    .footer-input {
        width: 264px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    .sub-btn {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        margin-right: 24px;
        margin-left: 16px;
        
    }

}